<?xml version="1.0" encoding="UTF-8"?>
<configuration status="debug" strict="true" name="XMLConfigTest" packages="com.CIMthetics">
  <properties>
    <property name="filename">bin/logger.log</property>
  </properties>
  <filter type="ThresholdFilter" level="Trace"/>
 
  <appenders>
    <appender type="Console" name="STDOUT">
      <layout type="PatternLayout" pattern="%d %C{2}.%M %m %ex%n"/><!-- class & line number -->
    </appender>
    <appender type="Console" name="FLOW">
      <layout type="PatternLayout" pattern="%d{ABSOLUTE} %p %C{3}.%M %m %ex%n"/><!-- class & line number -->
    </appender>
    <appender type="File" name="File" fileName="${filename}">
      <layout type="PatternLayout">
        <pattern>%d %p %C{1.} [%t] %m%n</pattern>
      </layout>
    </appender>
  </appenders>
 
  <loggers>
    <logger name="jvulkan-natives" level="Trace" additivity="false">
      <appender-ref ref="STDOUT"/>
      <appender-ref ref="File"/>
    </logger>
    <logger name="jvulkan" level="Trace" additivity="false">
      <appender-ref ref="STDOUT"/>
      <appender-ref ref="File"/>
    </logger>
    <logger name="jvulkan-example" level="Trace" additivity="false">
      <appender-ref ref="STDOUT"/>
      <appender-ref ref="File"/>
    </logger>
    <root level="DEBUG">
      <appender-ref ref="FLOW"/>
    </root>
  </loggers>
 
</configuration>
